#!/bin/zsh


alias vim='nvim'
alias vi='vim'
alias v='vim'

alias zshrc="$EDITOR ~/.zshrc"
alias vimrc="$EDITOR ~/.vim/vimrc"

alias ql='quick-look'

alias _l="ls --color=always -AgGhHLopQ --time-style=+'%Y/%m/%d-%H:%M:%S' --quoting-style='shell'"
alias _l_clean="tail -n+2 |\
    tr -s ' ' |\
    sed    's/^\s\+//g; s/\s\+$//g' |\
    cut -d' ' -f3- |\
    sed -E 's/ /\n/g3; s/ /\t/g; s/\n/ /g' |\
    column -t -s $'\t'
"
alias l='_l     | _l_clean'
alias ll='_l -S | _l_clean'
alias lt='_l -t | _l_clean'
alias ls="ls --color=auto"
alias lsd='ls -d *(/)'

alias sudo='nocorrect sudo '

alias s='sudo'

alias tmux='env TERM=xterm-256color tmux -2'
alias t='tmux'
alias ta='tmux attach -d -t'

#alias python=$PYTHON

alias less=$PAGER
alias zless=$PAGER

alias htop='htop -u $USER'

alias gh='git gh'

alias ag='ag --hidden'

# pip2 install pygments
#alias cat='pygmentize -O style=monokai -f console256 -g'
alias ccat='pygmentize -O style=monokai -f console256 -g'

alias ipaddr='dig +short myip.opendns.com @resolver1.opendns.com'
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias sniff="ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias whois='whois -h whois-servers.net'
alias flush='dscacheutil -flushcache'
alias httpdump='tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\"'

alias fs='du -shL'

#alias make_='/usr/bin/make -j`sysctl -n hw.ncpu`'
alias makefast='colormake-short -j`sysctl -n hw.ncpu`'
alias make='colormake-short'

alias m='make'
alias mc='make clean'
alias mt='make test'
alias M='make clean && make all'
alias MM='make clean && make test'

alias mvn='mvn-color'
alias idea='vim ~/Dropbox/ideas.md'

alias s3='aws s3'
