{
  "parser" : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [ ],
  "env" : {
    "browser" : true,
    "node" : true
  },
  "globals" : { },
  "rules": {
    "semi"                               : [2, "never"],
    "no-unused-vars"                     : [1],
    "no-multi-spaces"                    : [0],
    "key-spacing"                        : [0],
    "comma-spacing"                      : [0],
    "comma-dangle"                       : [0],
    "space-before-function-paren"        : [0],
    "spaced-comment"                     : [0],
    "arrow-parens"                       : [0],
    "no-extra-parens"                    : [0],
    "react/jsx-boolean-value"            : [0],
    "standard/object-curly-even-spacing" : [0]
  }
}
