[submodule ".oh-my-zsh"]
    ignore = dirty
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule ".z.sh"]
    ignore = dirty
	path = .z.sh
	url = git@github.com:rupa/z
[submodule ".config/base16-shell"]
    ignore = dirty
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell
[submodule ".zsh/antigen-hs"]
	path = .zsh/antigen-hs
	url = git@github.com:Tarrasch/antigen-hs.git
[submodule ".zsh/zsh-completion-generator"]
	path = .zsh/zsh-completion-generator
	url = https://github.com/RobSis/zsh-completion-generator
[submodule ".config/base16-iterm2"]
	path = .config/base16-iterm2
	url = git@github.com:chriskempson/base16-iterm2.git
[submodule "Library/Developer/Xcode/UserData/FontAndColorThemes/Base16"]
	path = Library/Developer/Xcode/UserData/FontAndColorThemes/Base16
	url = git@github.com:joedynamite/base16-xcode
[submodule "Library/Colors/Base16"]
	path = Library/Colors/Base16
	url = git@github.com:chriskempson/base16-osx-color-palette.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
