[submodule ".vim/bundle/vundle"]
    ignore = dirty
	path = .vim/bundle/vundle
	url = gh:gmarik/vundle
[submodule ".oh-my-zsh"]
    ignore = dirty
	path = .oh-my-zsh
	url = gh:robbyrussell/oh-my-zsh
[submodule ".z.sh"]
    ignore = dirty
	path = .z.sh
	url = gh:rupa/z
[submodule ".config/base16-shell"]
    ignore = dirty
	path = .config/base16-shell
	url = gh:chriskempson/base16-shell
