[user]
	email = zach.fogg@gmail.com
	name = Zach Fogg

[push]
	default = upstream

[core]
	editor = vim
	pager = vimpager
	excludesfile = /home/zach/.gitignore_global
    eol = lf
	autocrlf = input

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[color]
	ui = true
