[submodule ".tmux/vendor/tmux-colors-solarized"]
	path = .tmux/vendor/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule ".tmux/powerline"]
	path = .tmux/powerline
	url = https://github.com/Lokaltog/powerline
