[user]
    email = zach.fogg@gmail.com
    name = Zach Fogg

[alias]
    gh = !sh -c 'git clone git@github.com:$1' -
    submclean = !git submodule foreach "git reset --hard"
    submsync = !git submodule foreach "git checkout master && git pull origin master"
    mybranch = !git rev-parse --abbrev-ref HEAD

[push]
	default = simple

[core]
    editor = vim
    pager = vimpager
    eol = lf
    autocrlf = input

[difftool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
    prompt = false
[diff]
    tool = vimdiff
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    trustExitCode = false
[mergetool]
    keepBackup = false
[merge]
    tool = vimdiff

[color]
    ui = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[hub]
	protocol = https
