audit=false
fund=false
init-license=closed
init-author-name=Zachary Fogg
init-author-email=me@zfo.gg
init-author-url=https://zfo.gg
send-metrics=flase
viewer=browser
node-options=--max_old_space_size=8192
scripts-prepend-node-path=true
