# vim: filetype=config:

direnv latest latest:2 2.29.0
java   latest adoptopenjdk-16.0.1+9
nodejs latest 17.5.0 16.14.0 lts 14.16.1
yarn   latest latest:1.22 1.22.17
python latest 3.10.0 pypy-c-jit-latest pypy3.7-c-jit-latest 2.7.18 system
ruby   latest latest:3 3.0.3 latest:2 2.7.5
rust   latest stable latest:1.56 beta nightly
golang latest 1.17.3
#deno   latest 1.16.3
lua    latest 5.4.3 5.3.6
#lua    latest latest:5.3
pnpm   latest 6.23.2
