export QT_ENABLE_HIGHDPI_SCALING='1'
export QT_AUTO_SCREEN_SCALE_FACTOR='0'
export QT_SCREEN_SCALE_FACTORS='2;2'
#export QT_SCREEN_SCALE_FACTORS='DP-0=2;DP-1=2;eDP-1-1=2;HDMI-0=1'
export QT_LINUX_ACCESSIBILITY_ALWAYS_ON='1'
