XTerm*cursorBlink:   on
XTerm*cursorOnTime:  400
XTerm*cursorOffTime: 250
XTerm*cursorColor:   White

XTerm*color0:        #000000
XTerm*color1:        #c00000
XTerm*color2:        #008000
XTerm*color3:        #808000
XTerm*color4:        #0000c0
XTerm*color5:        #c000c0
XTerm*color6:        #008080
XTerm*color7:        #c0c0c0
XTerm*color8:        #808080
XTerm*color9:        #ff6060
XTerm*color10:       #00ff00
XTerm*color11:       #ffff00
XTerm*color12:       #8080ff
XTerm*color13:       #ff40ff
XTerm*color14:       #00ffff
XTerm*color15:       #ffffff
