<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:41:34Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2019-01-29T13:55:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2018-12-13T23:04:43Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>MIME_Types</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:53:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MIME Types</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MIME_Types</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:41:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Netcat</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:42:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Netcat</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Netcat</string>
				</dict>
			</dict>
			<key>PostgreSQL_CLI</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>PostgreSQL CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_CLI</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:54:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T01:47:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
			<key>openssl</key>
			<dict>
				<key>date</key>
				<date>2019-09-02T05:21:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>openssl</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>openssl</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:01:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>CSS_Named_Colors</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:01:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Named Colors</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Named_Colors</string>
				</dict>
			</dict>
			<key>CUDA_C</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:01:12Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CUDA C</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CUDA_C</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:01:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>xcode</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Swift</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:42:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Xcode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:01:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_Shortcuts</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:01:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHighlightedWebViewTextSizeMultiplier</key>
	<real>1.2000000476837158</real>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>C_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:52:53Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>C (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>C_Offline</string>
				</dict>
			</dict>
			<key>C_Online</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:52:53Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>C (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>C_Online</string>
				</dict>
			</dict>
			<key>React_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:52:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>react.js</string>
						<string>reactjs</string>
					</array>
					<key>name</key>
					<string>React (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>React_Offline</string>
				</dict>
			</dict>
			<key>Rust_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:52:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Rust (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Rust_Offline</string>
				</dict>
			</dict>
			<key>Rust_Online</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:52:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Rust (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Rust_Online</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>Marcus Adair</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>AutoHotkey</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/AutoHotkey#readme</string>
					<key>authorLinkText</key>
					<string>Arnaud Vazard</string>
					<key>name</key>
					<string>AutoHotkey</string>
					<key>platform</key>
					<string>usercontribAutoHotkey</string>
					<key>uniqueIdentifier</key>
					<string>AutoHotkey</string>
				</dict>
			</dict>
			<key>FFmpeg</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/FFmpeg#readme</string>
					<key>authorLinkText</key>
					<string>Steve Yin</string>
					<key>name</key>
					<string>FFmpeg</string>
					<key>platform</key>
					<string>usercontribFFmpeg</string>
					<key>uniqueIdentifier</key>
					<string>FFmpeg</string>
				</dict>
			</dict>
			<key>Flow</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Flow</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>UI</string>
						<string>type</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Flow#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Flow</string>
					<key>platform</key>
					<string>usercontribFlow</string>
					<key>uniqueIdentifier</key>
					<string>Flow</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:12Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>kubernetes</string>
						<string>kubectl</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kubernetes#readme</string>
					<key>authorLinkText</key>
					<string>John Patterson</string>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>usercontribKubernetes</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>LLVM</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:03:00Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Compiler Infrastrcture</string>
						<string>Compilers</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/LLVM#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>LLVM</string>
					<key>platform</key>
					<string>usercontribLLVM</string>
					<key>uniqueIdentifier</key>
					<string>LLVM</string>
				</dict>
			</dict>
			<key>Powershell</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Windows shell</string>
						<string>posh</string>
						<string>Cmdlets</string>
						<string>Windows automation</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Powershell#readme</string>
					<key>authorLinkText</key>
					<string>lucasg</string>
					<key>name</key>
					<string>Powershell</string>
					<key>platform</key>
					<string>usercontribPowershell</string>
					<key>uniqueIdentifier</key>
					<string>Powershell</string>
				</dict>
			</dict>
			<key>RFCs</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>rfc</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RFCs#readme</string>
					<key>authorLinkText</key>
					<string>Simone Carletti</string>
					<key>name</key>
					<string>RFCs</string>
					<key>platform</key>
					<string>usercontribRFCs</string>
					<key>uniqueIdentifier</key>
					<string>RFCs</string>
				</dict>
			</dict>
			<key>Redux</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Redux</string>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Redux#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Redux</string>
					<key>platform</key>
					<string>usercontribRedux</string>
					<key>uniqueIdentifier</key>
					<string>Redux</string>
				</dict>
			</dict>
			<key>SDL</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:18:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>SDL</string>
						<string>libsdl</string>
						<string>SDL 2.0</string>
						<string>Simple DirectMedia Layer 2.0</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/SDL#readme</string>
					<key>authorLinkText</key>
					<string>Nicolas Allemand</string>
					<key>name</key>
					<string>SDL</string>
					<key>platform</key>
					<string>usercontribSDL</string>
					<key>uniqueIdentifier</key>
					<string>SDL</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Chrome Developer Tools/Chrome_Dev_Tools.docset</key>
			<string>devtools</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/PostgreSQL CLI/PostgreSQL_CLI.docset</key>
			<string>psql:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/DocSets/PostgreSQL/PostgreSQL.docset</key>
			<string>postgres:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/PostgreSQL - DHDocsetDownloader/10-0-0/PostgreSQL.docset</key>
			<string>postgres:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:19:09Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/AppleScript.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:16:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_3.xml</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:49:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_4.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:16:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:02:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:16:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CMake.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Clojure.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Cocos2D-X.xml</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:38:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/D3JS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:16:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Haskell.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/OpenCV_C++.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/OpenCV_C.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/OpenCV_Python.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/OpenGL_4.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Processing.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:41Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SaltStack.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Unity_3D.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vagrant.xml</key>
			<dict>
				<key>date</key>
				<date>2018-07-17T15:50:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/WordPress.xml</key>
			<dict>
				<key>date</key>
				<date>2019-09-15T23:15:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-20T05:00:23Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string></string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>$TERM</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>3</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>1.8.5</key>
				<dict>
					<key>date</key>
					<date>2018-07-17T15:49:00Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/CMake.xml</key>
			<dict>
				<key>2.8.12</key>
				<dict>
					<key>date</key>
					<date>2017-11-20T04:48:43Z</date>
				</dict>
				<key>3.5.2</key>
				<dict>
					<key>date</key>
					<date>2017-11-20T04:48:44Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>HUD</string>
</dict>
</plist>
